* {
  font-family: "Arsenal SC"
}

.App {
  text-align: center;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.css-fix {
  white-space: pre-wrap; /* or pre-line */
}

@tailwind base;
@tailwind components;
@tailwind utilities;
